.Home img{
    width: 270px;
    max-width: 40%;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid goldenrod;
	
}

.Home .ImagesContainer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    
}
