.PageNotFound {
    margin-top: 50px;
    padding: 5px;

}

.PageNotFound img {
    border: 4px solid wheat;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
    width: 600px;
    max-width: 80%;
}

.PageNotFound div {
    margin: 20px;
}

.PageNotFound a {
    color: black;
    padding: 10px;
    font-size: large;
}